===========================
Požadavky na URL odběratele
===========================

Tato kapitola popisuje požadavky, které musí splnit služba, která obsluhuje URL odběratele, na které jsou poskytovatelem zasílány zprávy.

HTTP POST a Status kód 200
==========================

URL musí akceptovat požadavky typu HTTP POST s tím, že tělo tohoto požadavku je zasílanou zprávou.

Na přijatou zprávu musí odpovědět HTTP status kódem 200 - OK.

Podpora Content-Encoding: gzip
==============================

Pokud byl odběr zřízen se zapnutím zasílání obsahu s komprimací pomocí gzip, musí být akceptován obsah, který v hlavičce deklaruje ``Content-Encoding: gzip``

Autentizace, autorizace a HTTPS
===============================

PUSH protokol striktně nevyžaduje použití protokolu https a Basic Authentication. Pokud však toto nebude implementováno, je systém odběratele ohrožen tím, že na něj bude možno zasílat neautorizovaný obsah.

URL by mělo běžet na HTTPS.

URL by mělo být zabezpečeno pomocí Basic Authentication tak, jak to předepisuje RFC 7617.
