# Kontaktní informace

{% if data.registry_metadata.contacts %}


{% for contact in data.registry_metadata.contacts %}
{% for person in contact.persons %}
{% set person = data.persons[person] %}


| ve věcech | **{{ contact.role | locstr(lang) }}** |
| - | - |
{% if person.name %}
| jméno | {{ person.name }}
{% endif %}
{% if person.title %}
| pozice | {{ person.title | locstr(lang) }}
{% endif %}
{% if person.phone %}
| tel | {{ person.phone }}
{% endif %}
{% if person.email %}
| email | {{ person.email }}
{% endif %}
{% if person.web %}
| web | {% for web in person.web %}[{{ web }}]({{ web }}) {% endfor %}
{% endif %}
{% if person.note %}
| poznámka | {{ person.note | locstr(lang) }}
{% endif %}

{% endfor %}
{% endfor %}


{% endif %}
