# Seznam protokolů
{% set items = protocols %}
{% set uri_type = "x-protocol" %}

**Protokol** definuje pravidla a mechanismy pro výměnu
dat. Protokol se zabývá procesem výměny, nikoliv přenášeným obsahem.

| Název | Popis | URI |
|-------|-------|-----|
{% for item_id, item in items -%}
| [{{ item.name | locstr(lang) }}]({{ item_id }}) | {{ item.description | locstr(lang) | wordwrap(10000) | trim }} | `{{ uri_type }}:{{ item_id }}` |
{% endfor -%}
