{% set items = formats %}
{% set uri_type = "x-format" %}

# List of Formats

**Format** defines certain data structures. Schemes can be used for description, data samples and related description. Format doesn't describe method of data exchange.

| Name | Model | URI |
|------|-------|-----|
{% for item_id, item in items -%}
| [{{ item.name | locstr(lang) }}]({{ item_id }}) | `{{ item.model_version }}` | `{{ uri_type }}:{{ item_id }}` |
{% endfor %}
