{% if protocols[key] -%}
{% set item = protocols[key] %}
{% set uri_type = "x-protocol" %}
# Protocol: {{ item.name | locstr(lang) }}

{{ item.description | locstr(lang) }}

{% if item.additional_description -%}
{{ item.additional_description | locstr(lang) }}
{% endif -%}

## General parameters

| Parameter [^cmc] | Value |
|------------------|-------|
| uri | `{{ uri_type }}:{{ key }}` |
| status | *version:* {{ item.version_info.version }}, *date:* {{ item.version_info.publish_date }} |
| interface | `{{ item.interface }}` |
| communication method | `{{ item.communication_method }}` |

{% if item.publications -%}

## Publication of Protocol Documentation
The documentation below contains a conceptual description of the method of publication, including a description of the implementation and an example.

| Type | Language | File |
|------|----------|------|
{% for pub_format, langs in item.publications -%}
{% for lang in langs -%}
{% set format = pubformats[pub_format] -%}
{% set pub_url = format.format({ uri: key, lang: lang, pub_format: pub_format }) %}
| {{ pub_format }} | {{ lang }} | [{{ pub_url }}](/docs/{{ uri_type }}/{{ pub_url }}){target="_blank" rel="noopener noreferrer"} |
{% endfor -%}
{% endfor -%}
{% endif -%}
{% endif %}

[^cmc]: Classification corresponds to the Coordinated Metadata Catalogue [EU-EIP_Coord.MetadataCatalogue_v2.0_191115.pdf](/docs/data/EU-EIP_Coord.MetadataCatalogue_v2.0_191115.pdf) as defined by the EU-EIP project.
