---
title: List of Traffic Information Providers
---

# List of Traffic Information Providers
{% set uri_type = "x-provider" %}

**Provider** is a subject, with whom subscription can be arranged from his data source.

|Provider| Description| uri |
|-|-|-|
{% for srckey, srccfg in providers -%}
|[{{ srccfg.name | locstr(lang) }}]({{ srckey }})| {{ srccfg.description | locstr(lang) | trim }} |`{{ uri_type }}:{{ srckey }}`|
{% endfor %}

Information for providers how to register their data source(s) is detailed [here](../about/registration).