---
title: Seznam poskytovatelů dopravních informací
---

# Seznam poskytovatelů dopravních informací
{% set uri_type = "x-provider" %}

Poskytovatel je subjekt, se kterým lze sjednat odběr dopravních informací z jeho zdroje.

|Poskytovatel| Popis| uri |
|-|-|-|
{% for srckey, srccfg in providers -%}
|[{{ srccfg.name | locstr(lang) }}]({{ srckey }})| {{ srccfg.description | locstr(lang) | trim }} |`{{ uri_type }}:{{ srckey }}`|
{% endfor %}

Registrace poskytovatelů, jejich dat a služeb ITS je popsána [zde](../about/registration).