{% set cfg = providers[key] %}
{% set uri_type = "x-provider" %}
# Poskytovatel: {{ cfg.name | locstr(lang) }}

{{ cfg.description | locstr(lang) }}

{% if organizations[cfg.organization] %}
{% set organization = organizations[cfg.organization] %}

|uri|`{{ uri_type }}:{{ key }}`
|-|-
|společnost|**{{ organization.name | locstr(lang) }}**
{% if organization.department -%}
|oddělení|{{ ((organization.department | locstr(lang)) | splitlines) | join(", ") }}
{% endif -%}
{% if organization.address -%}
|adresa|{{ (organization.address | splitlines) | join(", ") }}
{% endif -%}
{% if organization.web -%}
|web|{% for web in organization.web %}[{{ web }}]({{ web }}) {% endfor %}
{% endif -%}

{% endif %}

## Nabízené zdroje dopravních informací

### Dynamické zdroje

| Název / id / formát |Stav /<br/> nařízení | Popis |
|-|-|-|
{% for srckey, srccfg in sources -%}
{%- if srccfg.responsibilities.publisher == key and srccfg.content.content_type == 'dynamic' %}
|[{{ srccfg.name | locstr(lang) }}](../sources/{{ srckey }}) <br/><br/> `{{ srckey }}` <br/> {% for format_id in srccfg.access_info.formats %}{%- set format = formats[format_id] -%} `{{ format.model_version }}` {% endfor %}| {{ srccfg.quality_information.status | locstr(lang) }} <br/><br/> {% for act in srccfg.quality_information.ec_acts -%} `{{ act }}` {% endfor %} | {{ srccfg.description | locstr(lang) | trim }} |
{% endif -%}
{%- endfor %}

### Statické zdroje

| Název / id / formát |Stav /<br/> nařízení | Popis |
|-|-|-|
{% for srckey, srccfg in sources -%}
{%- if srccfg.responsibilities.publisher == key and srccfg.content.content_type == 'static' %}
|[{{ srccfg.name | locstr(lang) }}](../sources/{{ srckey }}) <br/><br/> `{{ srckey }}` <br/> {% for format_id in srccfg.access_info.formats %}{%- set format = formats[format_id] -%} `{{ format.model_version }}` {% endfor %}| {{ srccfg.quality_information.status | locstr(lang) }} <br/><br/> {% for act in srccfg.quality_information.ec_acts -%} `{{ act }}` {% endfor %} | {{ srccfg.description | locstr(lang) | trim }} |
{% endif -%}
{%- endfor -%}


{% if cfg.conformance %}

## Prohlášení o shodě { #conformance }
Zdroje u kterých je uvedeno jedno z klíčových slov uvedených níže jsou v částečném či úplném souladu s požadavky Nařízení s přenesenou pravomocí ke Směrnici o ITS [2010/40/EU](https://eur-lex.europa.eu/eli/dir/2010/40) a její aktualizace [2023/2661](https://eur-lex.europa.eu/eli/dir/2023/2661). Viz odkázaná prohlášení o shodě.

|Značka | Popis| Soubor|
|-|-|-|
{% for key, val in cfg.conformance -%}
{%- set conformance_info = conformance[key] -%}
{%- set format = pubformats["pdf"] -%}
{%- set pub_url = format.format({uri: val, lang: "cs", pub_format: "pdf"}) %}
|`{{ key }}`| {{ conformance_info.description | locstr(lang) }} | [{{ pub_url }}](/docs/{{ uri_type }}/{{ pub_url }}){target="_blank" rel="noopener noreferrer"}|
{% endfor -%}

{% endif %}

{% if cfg.processes %}

## Procesy zřízení odběru

Proces může být také upřesněn na úrovni zdroje dopravních informací.

{% for processid, process in cfg.processes %}
### {{ process.name | locstr(lang) }} { #process-{{ processid }} }
{{ process.description | locstr(lang) }}

{% if process.additional_description %}
{{ process.additional_description | locstr(lang) }}
{% endif %}

{% if process.terms_and_conditions %}

|Název | Formát | Soubor |
|-|-|-|
{% for terms_and_conditionsid in process.terms_and_conditions -%}
{%- set terms_and_conditions_info = terms_and_conditions[terms_and_conditionsid] -%}
{%- for pub_format, langs in terms_and_conditions_info.publications -%}
{%- for lang_item in langs -%}
{%- if 'cs' in lang_item -%}
{%- set format = pubformats[pub_format] -%}
{%- set pub_url = format.format({uri: terms_and_conditionsid, lang: lang_item, pub_format: pub_format}) %}
|{{ terms_and_conditions_info.name | locstr(lang) }}| {{ pub_format }} | [{{ pub_url }}](/docs/{{ uri_type }}/{{ pub_url }}){target="_blank" rel="noopener noreferrer"}|
{% endif -%}
{%- endfor -%}
{%- endfor -%}
{%- endfor %}

{% endif %}
{% endfor %}

{% if cfg.data_access %}
## Přístupové body

Jednotlivé zdroje dopravních informací jsou přístupné prostřednictvím datových rozhraní.

{% for data_access in cfg.data_access %}
{% for access_point in data_access.access_point %}
{% set ap = access_points[access_point] %}

|ve věcech|**{{ data_access.role | locstr(lang) }}**
|-|-
{% if ap.web -%}
|web|{% for web in ap.web %}[{{ web }}]({{ web }}) {% endfor %}
{% endif -%}
{% if ap.note -%}
|poznámka|{{ ap.note | locstr(lang) }}
{% endif -%}
{% if ap.status -%}
|stav|{{ ap.status | locstr(lang) }}
{% endif -%}

{% endfor %}
{% endfor %}
{% endif %}

{% if cfg.contacts %}
## Kontakty

Jednotlivé zdroje dopravních informací mohu uvádět další (zde neuvedené) kontakty.

{% for contact in cfg.contacts %}
{% for person in contact.persons %}
{% set person = persons[person] %}

|ve věcech|**{{ contact.role | locstr(lang) }}**
|-|-
{% if person.name -%}
|jméno|{{ person.name }}
{% endif -%}
{% if person.title -%}
|pozice|{{ person.title | locstr(lang) }}
{% endif -%}
{% if person.phone -%}
|tel|{{ person.phone }}
{% endif -%}
{% if person.email -%}
|email|{{ person.email }}
{% endif -%}

{% endfor %}
{% endfor %}
{% endif %}
{% endif %}