# Scope of the Registry and Implementation History

| Last meta data version | {{ data.registry_metadata.version_history[0].date }} |
|-|-|
| Languages of registry | {% for lang in data.registry_metadata.language %} `{{lang}}` {% endfor %} |

## Implementation Status

The Traffic Information Register is the implementation of the National Access Point (NAP) in the form of a metadata directory. It lists data sources provided within the territory of the Czech Republic, particularly those provided by NDIC. The registration of new sources is done manually.

Version 2.0 is currently in preparation, which will significantly change the system's functionality (the expected launch date of the new version is mid-2026).

## Registry version history

The subsections below list all changes to the content (C) and structure (S) of the registry.

{% for version in data.registry_metadata.version_history %}
### Version: {{ version.id }}, date: {{ version.date }}, change type: {{ version.type }}
{{ version.description | locstr(lang) }}
{% endfor %}

