{% if sources[key] -%}
{% set uri_type = "x-source" -%}
{% set cfg = sources[key] -%}
{% set provider_id = cfg.responsibilities.publisher -%}
{% set provider = providers[provider_id] -%}
{% if cfg.conditions_of_use.terms_and_conditions -%}
  {% set process_id = cfg.conditions_of_use.terms_and_conditions -%}
  {% set process = provider.processes[process_id] -%}
{% endif -%}
{% if cfg.quality_information.status_description -%}
  {% set stat_link = "[^status]" -%}
{% endif -%}

# Source: {{ cfg.name | locstr(lang) }}

{{ cfg.description | locstr(lang) }}

{% if cfg.additional_description -%}
{{ cfg.additional_description | locstr(lang) }}
{% endif -%}

## General Parameters

| Parameter | Value |
|-----------|-------|
| uri | `{{ uri_type }}:{{ key }}` |
| provider | [{{ providers[provider_id].name | locstr(lang) }}](../providers/{{ provider_id }}) |
| status | {{ cfg.quality_information.status | locstr(lang) }} {{ stat_link }}, publication start: {{ cfg.temporal.start_date }}{% if cfg.temporal.last_update -%}, last update: {{ cfg.temporal.last_update | locstr(lang) }}{% endif -%}{% if cfg.temporal.end_date -%}, **publication end: {{ cfg.temporal.end_date }}**{% endif -%} |
| licence [^cmc] | `{{ cfg.conditions_of_use.contract_or_licence }}` |
{% if cfg.conditions_of_use.terms_and_conditions -%}
| subscription process | [{{ process.name | locstr(lang) }}](../providers/{{ provider_id }}#process-{{ process_id }}) |
{% endif -%}
{% for format_id in cfg.access_info.formats -%}
{% set format = formats[format_id] %}
| model | `{{ format.model_description }}` |
{% endfor -%}
{% if cfg.pattern -%}
| **used pattern** [^pattern] | [{{ cfg.pattern.name | locstr(lang) }}](/docs/{{ uri_type }}/{{ cfg.pattern.file | locstr(lang) }}) |
{% endif %}

## Content
|Parameter [^cmc] | Value |
|----------|---------|
| resource&nbsp;type | `{{ cfg.content.resource_type }}` |
| category | {% for category in cfg.content.dataset.category %}`{{ category }}` {% endfor %} |
| detailed&nbsp;type | {% for detailed_type in cfg.content.dataset.detailed_type -%}`{{ detailed_type }}` {% endfor %} |
| data&nbsp;set&nbsp;language | {% for language in cfg.content.language -%}`{{ language }}` {% endfor %} |

{% if cfg.linked_sources %}
### Related location data sources
|Parameter | Value |
|----------|---------|
{% for linked_source_id in cfg.linked_sources -%}
| related&nbsp;data&nbsp;sources | [{{ sources[linked_source_id].name | locstr(lang) }}]({{ linked_source_id }}); uri:`x-source:{{ linked_source_id }}` {% if cfg.access_info.pls_key %}; pls_key:`{{ cfg.access_info.pls_key }}`{% endif %} |
{% endfor %}
{% endif %}

## Coverage
|Parameter [^cmc] | Value |
|----------|---------|
| area | `{{ cfg.coverage.area }}` |
| network | {% for network in cfg.coverage.network %}`{{ network }}` {% endfor %} |
{% if cfg.coverage.description -%}
| description | {{ cfg.coverage.description | locstr(lang) }} |
{% endif -%}
| transport&nbsp;modes | {% for transport_mode in cfg.transport_modes %}`{{ transport_mode }}` {% endfor %} |

## Access, used formats and protocols
{% if cfg.access_info.access_point -%}
{% for access_point_id in cfg.access_info.access_point -%}

|Parameter | Value |
|----------|---------|
{% set ap = access_points[access_point_id] -%}
{% if ap.web -%}
| access / API | {% for web in ap.web %}[{{ web }}]({{ web }}){% endfor %} |{% endif %}
{% if ap.note -%}
| note | {{ ap.note | locstr(lang) }}{% endif -%}
{% if ap.status -%}
| status | {{ ap.status | locstr(lang) }}{% endif -%}
{% endfor %}
{% endif %}

### Formats and Protocols
|Parameter | Value |
|----------|---------|
{% for format_id in cfg.access_info.formats -%}
{% set format = formats[format_id] -%}
| format | [{{ format.name | locstr(lang) }}](../formats/{{ format_id }}), model:`{{ format.model_description }}`, uri:`x-format:{{ format_id }}` |
{% endfor %}
{% for protocol_id in cfg.access_info.protocols -%}
{% set protocol = protocols[protocol_id] -%}
| protocol | [{{ protocol.name | locstr(lang) }}](../protocols/{{ protocol_id }}), uri:`x-protocol:{{ protocol_id }}` |
{% endfor %}

## Quality information
|Parameter [^cmc] | Value |
|----------|---------|
| update&nbsp;frequency | {{ cfg.quality_information.update_frequency }} |
| quality&nbsp;assessment | {{ cfg.quality_information.quality_assesment | locstr(lang) }} |
{% if cfg.quality_information.nb_assesment_date -%}
| NB&nbsp;assessment&nbsp;date | {{ cfg.quality_information.nb_assesment_date }} |
{% endif -%}
{% if cfg.quality_information.ec_acts -%}
| related EC Regulations and [conformance docs](../providers/{{ cfg.responsibilities.publisher }}#conformance) | {% for act in cfg.quality_information.ec_acts -%}`{{ act }}` {% endfor %} |
{% endif %}

{% if stat_link -%}
{{ stat_link }}: {{ cfg.quality_information.status_description | locstr(lang) }}
{% endif %}

[^cmc]: Classification corresponds to the Coordinated Metadata Catalogue [EU-EIP_Coord.MetadataCatalogue_v2.0_191115.pdf](/docs/data/EU-EIP_Coord.MetadataCatalogue_v2.0_191115.pdf).

{% if cfg.pattern %}
[^pattern]: Extended profile specifies source content (in detail) with the focus on reusable patterns (profile choices), described in the methodology [here](/docs/{{ uri_type }}/Metodika_pro_vstupni_informace_NDIC_v1.1.pdf).
{% endif %}
{% endif %}
